<div id="child-check" class="row content">
  <div class="col-12">
    <form (ngSubmit)="chkCheck()">
      <div class="form-group row">
        <label class="col-6 col-form-label col-label text-right">我的編號：</label>
        <label class="col-6 col-form-label col-label text-left">{{ childId }}</label>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label col-label text-right">我的名字：</label>
        <label class="col-6 col-form-label col-label text-left">{{ childName }}</label>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label col-label text-right">我的點數：</label>
        <label class="col-6 col-form-label col-label text-left">{{ point }}</label>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label col-label text-right">扣掉點數：</label>
        <label class="col-6 col-form-label col-label text-left">0020</label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">確　　定</button>
      </div>
    </form>
  </div>
</div>
