<div id="store-login" class="row content">
    <div class="col-12">
        <form (ngSubmit)="storeSubmit()">
            <div class="form-group row">
                <label for="childId" class="col-12 col-form-label col-label">店家帳號：</label>
            </div>
            <div class="form-group">
                <input type="text" name="storeId" id="storeId" class="form-control" placeholder="例如 1234" [(ngModel)]="storeId">
            </div>
            <div class="form-group row">
                <label for="childId" class="col-12 col-form-label col-label">請輸入店家密碼：</label>
            </div>
            <div class="form-group">
                <input type="password" name="storePwd" id="storePwd" class="form-control" placeholder="例如 1234" [(ngModel)]="storePwd">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">確定</button>
        </form>
    </div>
</div>
<swal #dialogError title="帳號或密碼錯誤" type="error"></swal>